# ASP.NET Core
*.swp
*.suo
*.user
*.userprefs
*.log
.vscode/
bin/
obj/
.vs/
.idea/
_ReSharper*/
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.sln.iml

# NuGet packages
*.nuget.props
*.nuget.targets

# Microsoft-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Rider
.idea/
.ide/

# Visual Studio Code
.vscode/
.vscode/*

# macOS
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
.vscode/
.vs/ManaretAmman/v17/.suo
.vs/ManaretAmman/v17/.suo
*.2
.vs/ProjectEvaluation/manaretamman.projects.v5.2
/.vs/ManaretAmman/v17/.suo
/.vs/ProjectEvaluation/manaretamman.metadata.v5.2
/.vs/ProjectEvaluation/manaretamman.projects.v5.2
/BLL/bin/Debug/net6.0/BusinessLogicLayer.dll
/BLL/bin/Debug/net6.0/BusinessLogicLayer.pdb
/BLL/bin/Debug/net6.0/DataAccessLayer.dll
/BLL/bin/Debug/net6.0/DataAccessLayer.pdb
*.vsidx
/BLL/obj/Debug/net6.0/BusinessLogicLayer.assets.cache
/BLL/obj/Debug/net6.0/BusinessLogicLayer.csproj.AssemblyReference.cache
/BLL/obj/Debug/net6.0/BusinessLogicLayer.csproj.CoreCompileInputs.cache
/BLL/obj/Debug/net6.0/BusinessLogicLayer.dll
/BLL/obj/Debug/net6.0/BusinessLogicLayer.genruntimeconfig.cache
/BLL/obj/Debug/net6.0/BusinessLogicLayer.pdb
/BLL/obj/Debug/net6.0/BusinessLogicLayer.GeneratedMSBuildEditorConfig.editorconfig
/BLL/obj/BusinessLogicLayer.csproj.nuget.dgspec.json
/BLL/obj/BusinessLogicLayer.csproj.nuget.g.props
/BLL/obj/project.assets.json
/BLL/obj/project.nuget.cache
/DataAccessLayer/bin/Debug/net6.0/DataAccessLayer.dll
/DataAccessLayer/bin/Debug/net6.0/DataAccessLayer.pdb
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.assets.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.AssemblyReference.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.CoreCompileInputs.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.dll
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.genruntimeconfig.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.pdb
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
/DataAccessLayer/obj/project.assets.json
/DataAccessLayer/obj/project.nuget.cache
/ManaretAmman/bin/Debug/net6.0/BusinessLogicLayer.dll
/ManaretAmman/bin/Debug/net6.0/BusinessLogicLayer.pdb
/ManaretAmman/bin/Debug/net6.0/DataAccessLayer.dll
/ManaretAmman/bin/Debug/net6.0/DataAccessLayer.pdb
/ManaretAmman/bin/Debug/net6.0/ManaretAmman.dll
/ManaretAmman/bin/Debug/net6.0/ManaretAmman.exe
/ManaretAmman/bin/Debug/net6.0/ManaretAmman.pdb
/ManaretAmman/obj/Debug/net6.0/apphost.exe
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.assets.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.csproj.AssemblyReference.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.csproj.CoreCompileInputs.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.dll
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.genruntimeconfig.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.pdb
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/BusinessLogicLayer.dll
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/BusinessLogicLayer.pdb
/ManaretAmman/obj/Release/net6.0/ManaretAmman.pdb
/ManaretAmman/obj/Release/net6.0/ManaretAmman.genruntimeconfig.cache
/ManaretAmman/obj/Release/net6.0/ManaretAmman.GeneratedMSBuildEditorConfig.editorconfig
/ManaretAmman/obj/Release/net6.0/ManaretAmman.dll
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/DataAccessLayer.dll
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/DataAccessLayer.pdb
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/ManaretAmman.dll
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/ManaretAmman.exe
/ManaretAmman/obj/Release/net6.0/PubTmp/Out/ManaretAmman.pdb
/ManaretAmman/obj/Release/net6.0/apphost.exe
/ManaretAmman/obj/Release/net6.0/ManaretAmman.assets.cache
/ManaretAmman/obj/Release/net6.0/ManaretAmman.csproj.AssemblyReference.cache
/ManaretAmman/obj/Release/net6.0/ManaretAmman.csproj.CoreCompileInputs.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.MvcApplicationPartsAssemblyInfo.cs
/BLL/obj/Debug/net6.0/refint/BusinessLogicLayer.dll
/BLL/obj/Debug/net6.0/ref/BusinessLogicLayer.dll
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.GeneratedMSBuildEditorConfig.editorconfig
/ManaretAmman/obj/ManaretAmman.csproj.nuget.dgspec.json
/ManaretAmman/obj/ManaretAmman.csproj.nuget.g.props
/ManaretAmman/obj/project.assets.json
/ManaretAmman/obj/project.nuget.cache

/.vs/ManaretAmman/v17/.suo
/.vs/ProjectEvaluation/manaretamman.metadata.v7.bin
/.vs/ManaretAmman/DesignTimeBuild/.dtbcache.v2
/.vs/ManaretAmman/v17/.futdcache.v2
/.vs/ProjectEvaluation/manaretamman.projects.v7.bin
/ManaretAmman/Properties/PublishProfiles
/BLL/Services/Employees/EmployeeService.cs
/ManaretAmman/Reports
/.gitignore
/ManaretAmman/web.config
